{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main id="mt-main">
        <!-- Mt Content Banner of the Page -->
        <section class="mt-contact-banner about-banner wow fadeInUp" data-wow-delay="0.4s" style="min-height: 300px!important;padding: 120px 0 40px!important;background-image: url({% static 'img/shoping_cart_bg.jpg'%});>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h1 style="color:#FFFFFF;">О ЗАВОДЕ</h1>
                <nav class="breadcrumbs">
                  <ul class="list-unstyled">
                    <li><a href="index.html">home <i class="fa fa-angle-right"></i></a></li>
                    <li>About Us</li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Content Banner of the Page end -->
        <!-- Mt About Section of the Page -->
        <section class="mt-about-sec wow fadeInUp" data-wow-delay="0.4s">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="txt">
                  <h2>О компании</h2>
                  <p>ООО «BETOMAX BETON» был сформирован в 1952 году как «Завод Железобетонных изделий №2» и стал выпускать сборные железобетонные изделия народного хозяйства в Узбекистане. В 2015 году был осуществлен ребрендинг, а компания переименована в BETOMAX.</p>

                  <p>Наше предприятие выпускает сборно-железобетонные изделия на основании типовых проектов, разработанных в России, Украине, Грузии и в других странах, согласно действующих ГОСТов, утвержденных Госстроем Республики Узбекистан. Цель деятельности OOO «BETOMAX BETON» — предлагать своим клиентам самое разумное и оптимальное решение, основанное на применении сборного железобетона для строительства различных типов зданий и сооружений, обеспечивающих снижение металлоемкости, стоимости и трудоемкости строительства, веса зданий и сооружений, уменьшение суммарных энергетических затрат на их возведение и эксплуатацию.</p>

                  <p>Благодаря использованию самого современного, высокотехнологичного оборудования европейского качества, наша продукция востребована не только внутри страны, но и за ее пределами. Коренное улучшение технологии производства железобетонных изделий и конструкций, путем массового внедрения новых более совершенных энерго- и ресурсосберегающих технологических процессов, высокопроизводительного автоматизированного оборудования, совершенных систем контроля и управления качеством готовых изделий позволяет предприятию OOO «BETOMAX BETON» не только идти в ногу со временем, но и с оптимизмом смотреть в будущее.</p>

                </div>
                <div class="mt-follow-holder">
                  <span class="title">Follow Us</span>
                  <!-- Social Network of the Page -->
                  <ul class="list-unstyled social-network">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                  </ul>
                  <!-- Social Network of the Page end -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt About Section of the Page -->
        <!-- Mt Team Section of the Page -->
        <!-- Mt Workspace Section of the Page -->
        <section class="mt-workspace-sec wow fadeInUp" data-wow-delay="0.4s">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2>OUR WORKSPACE</h2>
              </div>
            </div>
          </div>
          <!-- Work Slider of the Page -->
          <ul class="list-unstyled work-slider">
            <li>
              <div class="img-holder">
                <img src="http://placehold.it/545x545" alt="image description">
              </div>
              <div class="img-holder">
                <div class="coll1">
                  <img src="http://placehold.it/245x310" alt="image description">
                </div>
                <div class="coll2">
                  <img src="http://placehold.it/385x310" alt="image description">
                </div>
                <div class="coll3">
                  <img src="http://placehold.it/640x220" alt="image description">
                </div>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <img src="http://placehold.it/545x545" alt="image description">
              </div>
              <div class="img-holder">
                <div class="coll1">
                  <img src="http://placehold.it/245x310" alt="image description">
                </div>
                <div class="coll2">
                  <img src="http://placehold.it/385x310" alt="image description">
                </div>
                <div class="coll3">
                  <img src="http://placehold.it/640x220" alt="image description">
                </div>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <img src="http://placehold.it/545x545" alt="image description">
              </div>
              <div class="img-holder">
                <div class="coll1">
                  <img src="http://placehold.it/245x310" alt="image description">
                </div>
                <div class="coll2">
                  <img src="http://placehold.it/385x310" alt="image description">
                </div>
                <div class="coll3">
                  <img src="http://placehold.it/640x220" alt="image description">
                </div>
              </div>
            </li>
          </ul>
          <!-- Work Slider of the Page end -->
        </section>
        <!-- Mt Workspace Section of the Page -->
      </main><!-- Main of the Page end -->

{% endblock content %}