{% extends 'base.html' %}
{% load static %}




  <!--- end slider -->
{% block content %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %} "/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/slider/demo.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/slider/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/slider/modernizr.custom.79639.js'%}"></script>
  <noscript>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slider/styleNoJS.css' %}" />
  </noscript>
    <main id="mt-main">
        <section class="mt-contact-banner wow fadeInUp" data-wow-delay="0.4s" style="background-image: url({% static 'img/slider_seconds.png' %}); background-size: 100% 100%; ">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h1 style="color:#FFF;">Аренда автотранспорта</h1>
              </div>
            </div>
          </div>
        </section>
            <div class="container">
                <div class="row">
              <header class="col-xs-12 text-center header">
                <h3>Наше предприятие имеет свой собственный автопарк.</h3>
                <p>  Для удобства доставки сборных изделий и товарного бетона, мы предоставляем следующий виды спецтехники: <br></p>
              </header>
            </div>
            </div>
          <div class="container-fluid">
            <div class="row">
                <div id="slider" class="sl-slider-wrapper">
                  <div class="sl-slider">
                    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                      <div class="sl-slide-inner">
                        <div class="slides">
                          <div class="col-xs-12">
                            <div class="col-xs-1 hidden-xs">

                            </div>
                            <div class="col-xs-5">
                                <p class="text_slide text-left" style="font-size: 32pt;"> Миксер HOWO “SINOTRUCK”<br/> <span style="font-size:20pt;">- грузоподъемность 25тн (10м3)</span></p>
                                <p class="text-left"><button class="btn-type3" type="submit">Заказать</button></p>
                            </div>
                            <div class="col-xs-6">
                                <img style="width:80%;" src="{% static 'img/mikser.png' %}" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                 <div class="sl-slide-inner">
                           <div class="col-xs-12">
                            <div class="col-xs-1 hidden-xs">

                            </div>
                            <div class="col-xs-5">
                                <p class="text_slide text-left" style="font-size: 32pt;"> Самосвал SHACMAN MAN F2000 SX3314DR406 <br/> <span style="font-size:20pt;">- грузоподъёмностью 40 тн, 25 м3</span></p>
                                <p class="text-left"><button class="btn-type3" type="submit">Заказать</button></p>
                            </div>
                            <div class="col-xs-6">
                                <img style="width:80%;" src="{% static 'img/3.png' %}" alt="">
                            </div>
                          </div>
                      </div>
                </div>
                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                 <div class="sl-slide-inner">
                           <div class="col-xs-12">
                            <div class="col-xs-1 hidden-xs">

                            </div>
                            <div class="col-xs-5">
                                <p class="text_slide text-left" style="font-size:32pt;"> Тягач HOWO “SINOTRUCK” <br/>  <span style="font-size:20pt;">- грузоподъёмностью 60 тн</span></p>
                                <p class="text-left"><button class="btn-type3" type="submit">Заказать</button></p>
                            </div>
                            <div class="col-xs-6">
                                <img style="width:80%;" src="{% static 'img/2.png' %}" alt="">
                            </div>
                          </div>
                      </div>
                </div>

                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                 <div class="sl-slide-inner">
                           <div class="col-xs-12">
                            <div class="col-xs-1 hidden-xs">

                            </div>
                            <div class="col-xs-5">
                                <p class="text_slide text-left" style="font-size:32pt;"> Автокран Камаз 6540 КС557291<br/>  <span style="font-size:20pt;">- грузоподъёмностью 32 тн</span></p>
                                <p class="text-left"><button class="btn-type3" type="submit">Заказать</button></p>
                            </div>
                            <div class="col-xs-6">
                                <img style="width:90%;" src="{% static 'img/6.png' %}" alt="">
                            </div>
                          </div>
                      </div>
                </div>

                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
                  <div class="sl-slide-inner">
                          <div class="col-xs-12">
                            <div class="col-xs-1 hidden-xs">

                            </div>
                            <div class="col-xs-5">
                                <p class="text_slide text-left" style="font-size: 32pt;"> Бетононасос марки KCP 48, на базе тягача MAN<br/> <span style="font-size:20pt;">- длина стрелы – 48 м.</span></p>
                                <p class="text-left"><button class="btn-type3" type="submit">Заказать</button></p>
                            </div>
                            <div class="col-xs-6">
                                <img style="width:80%;" src="{% static 'img/5.png' %}" alt="">
                            </div>
                          </div>
                      </div>
                </div>
              </div><!-- /sl-slider -->

              <nav id="nav-dots" class="nav-dots">
                <span class="nav-dot-current"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </nav>

            </div><!-- /slider-wrapper -->
            </div>
          </div>
      </main>

<script>
      $(function() {

        var Page = (function() {

          var $nav = $( '#nav-dots > span' ),
            slitslider = $( '#slider' ).slitslider( {
              onBeforeChange : function( slide, pos ) {

                $nav.removeClass( 'nav-dot-current' );
                $nav.eq( pos ).addClass( 'nav-dot-current' );

              }
            } ),

            init = function() {

              initEvents();

            },
            initEvents = function() {

              $nav.each( function( i ) {

                $( this ).on( 'click', function( event ) {

                  var $dot = $( this );

                  if( !slitslider.isActive() ) {

                    $nav.removeClass( 'nav-dot-current' );
                    $dot.addClass( 'nav-dot-current' );

                  }

                  slitslider.jump( i + 1 );
                  return false;

                } );

              } );

            };

            return { init : init };

        })();

        Page.init();

        /**
         * Notes:
         *
         * example how to add items:
         */

        /*

        var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');

        // call the plugin's add method
        ss.add($items);

        */

      });
    </script>
{% endblock content %}